.Menu{
    min-width: 250px;
    max-width: 250px;
    height: 100%;
    background: #583d72;
    justify-content: space-between;
}


.Users{
    width: 100%;
    display: flex;
    overflow: auto;
    height: 500px;
    flex-direction: column;
    align-content: center;
}


.User{
    width: 100%;
    text-align: center;
    display: flex;
    align-content: center;
    background: #9f5f80;
}

.Rooms{
    width: 100%;
    display: flex;
    overflow: auto;
    height: 500px;
    flex-direction: column;
    align-content: center;
}


.Room{
    width: 100%;
    text-align: center;
    display: flex;
    align-content: center;
    background: #f2f2f2;
}