.Room{
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  background-color: #9f5f80;
}

.Header{
  width: 100%;
  height: 10%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background: #ffc996;
  color:#f2f2f2;
  button{
    margin-left: auto;
    padding: 8px 16px;
    border: none;
    background: #583d72;
    color: #f2f2f2;
    text-transform: uppercase;
    letter-spacing: .09em;
    border-radius: 2px;
  }
}

.Content{
  display: flex;
  justify-content: space-between;
  height: 80%;
  width: 100%;
}

.addRooms {
  //width: 50%;
  margin: 5% auto 5% auto;
  max-width: 1500px;
  //margin: 0 auto;
  display: flex;
  align-items: center;
  background-color: #ff8474;
  border-radius: 10px;
  padding: 10px;
}


.addRooms * {
  box-sizing: border-box;

}

.Rooms{
  list-style-type: none;
  padding: 0;
}

.Rooms *{
  max-width: 800px;
  margin: 0 auto;
}

.Rooms li{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}



.Rooms > li:not(:last-child) {
  margin-bottom: 20px;
}

.Rooms li label,
.Rooms li p {
  padding: 8px;
  font-weight: 300;
  letter-spacing: .09em;
  text-transform: uppercase;
  color: white;
}

.Rooms > li > label,
.Rooms li p {
  flex: 1 0 120px;
  max-width: 220px;
}

.Rooms > li > label + *{
  flex: 1 0 220px;
}

.Rooms li p {
  margin: 0;
}

.Rooms li input:not([type='checkbox']),
.Rooms li textarea {
  padding: 15px;
  border: none;
}

.Rooms li button {
  margin-left: auto;
  padding: 8px 16px;
  border: none;
  //background: #333;
  background: #583d72;
  color: #f2f2f2;
  text-transform: uppercase;
  letter-spacing: .09em;
  border-radius: 2px;
}

.RoomList{
  margin: 5% 0 5% 0;
  max-width: 1200px;
  min-width: 200px;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #ff8474;
  border-radius: 10px;
  //padding: 10px;

  overflow: scroll;

  .RoomLink{
    width: 100%;
    min-height: 50px;
    min-width: 250px;
    transition: .5s;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    a {
      width: 80%;
      color: #000 ;
      text-decoration: none;
      text-align: center;
    }
    .RoomOwner{
      display: flex;
      justify-content: center;
      width: 80%;
      font-size:0.8em ;
    }
    .RoomOwner:hover::after {
      content: attr(data-title);
    }
  }
  .RoomLink:hover{
    background-color: #583d72;
  }
}



.UserList{
  margin: 5% auto 5% auto;
  min-width: 200px;
  max-width: 1200px;
  display: flex;
  align-items: center;
  background-color: #ff8474;
  border-radius: 10px;
  //padding: 10px;
  flex-direction: column;
  overflow: scroll;
  .User{
    width: 100%;
    min-height: 50px;
    transition: .5s;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    transition: .5s;
  }
  .User:hover{
    background-color: #583d72;
  }
}