.Room{
  display: flex;
  height: 100%;
  width: 100%;

  background-color: #583d72;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

.Users, .Chat{
  margin: 5% auto 5% auto;
  min-width: 200px;
  max-width: 3000px;
  height: 80%;
  display: flex;
  align-items: center;
  background-color: #ff8474;
  border-radius: 10px;
  //padding: 10px;
  flex-direction: column;
  overflow: scroll;
}

.Chat{
  background-color: #ffc996;
  min-width: 500px;
  display: flex;
  justify-content: space-between;
  .Messages{
    background-color: #9f5f80;
    width: 100%;
    height: 80%;
  }
  .Form{

    width: 80%;
    display: flex;
    justify-content: center;
    height: 20%;

    div{
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      width: 100%;
      input:not([type='checkbox']),
      textarea {
        width: 100%;
        padding: 15px;
        border: none;
        border-radius: 2px;
      }
      button {
        padding: 15px 16px;
        border: none;
        //background: #333;
        background: #583d72;
        color: #f2f2f2;
        text-transform: uppercase;
        letter-spacing: .09em;
        border-radius: 2px;
      }
    }


  }
}



.Header{
  width: 100%;
  height: 10%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background: #ffc996;
  color:#f2f2f2;
  a{
    text-decoration: none;
    margin-left: auto;
    padding: 8px 16px;
    border: none;
    background: #583d72;
    color: #f2f2f2;
    text-transform: uppercase;
    letter-spacing: .09em;
    border-radius: 2px;
  }
}

.Content{
  display: flex;
  height: 80%;
  width: 100%;

  justify-content: space-around;
  align-items: center;
  flex-direction: row;
}